h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    font-style: oblique;
    color: black;
    text-align: center;
    margin: auto;
}


table{
    border:black;
    align-self: center;
    margin: auto;
    width: 100%;
    border-spacing: 10px;

}
th {
    text-align: center;
    margin: auto;
}

td {
    border: solid 15px black;
}


main {
    background-color: rgb(147, 147, 160);
}

.receptek {
    text-align: center;
    color: blue;
    font-style: italic;
}

.recipes {
    display: block;
    flex-wrap: nowrap;
    margin: 0 -10px;
    width: 50%;
    text-align: center;
  }

.container-fluid{
    max-width: 2000px;
    margin: 0 auto;
    display: inline-block;
    flex-wrap: nowrap;
    min-height: 250px;
    align-items: center;

  }

.receptcimek {
    text-align: center;
    padding: 5px;
    text-decoration: underline;
}
ul {
    list-style: none;
}

aside {
    flex-basis: 30vw;   /*20 volt */
  }
  
aside ul {
    list-style: upper-roman;
    margin: 0;
    padding: 15px;
  }
  aside a {
    display: block;
    color: #141d2b;
    font-size: 14px;
    text-decoration: none;
    line-height: 30px;
  }
  aside a:hover {
    text-decoration: transparent;
  }
  aside li {
    padding: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

.leiras {
    text-align: center;
    font-style: italic;
    color: ivory;
}
.row {
    display: block;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
  }

.row::after {
  content: "";
  clear: both;
  display: table;
}

.flex-container {
  display: flex;
  height: 500px;
  background-color: antiquewhite;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.flex-item {
  background-color: rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 20px;
  border: 1px solid #000;
  width: 100px;
}

.image {
  padding-left: 10px;
  align-items: center;
}

.teteje {
  margin: auto;
}